.header-message {
  border: #f9b949 3px solid;
  border-radius: 20px;
  display: flex;
  position: absolute;
  width: 400px;
  height: 50px;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8e5b7;
  /* color: #92ddc8 bold; */
  font-size: 22px;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serifs;
}

.message-box {
  display: flex;
  position: absolute;
  width: 700px;
  height: 30px;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: rgb(221, 86, 86);
  font-size: 20px;
  justify-content: center;
}
