.outer-container {
  /* width: 500px;
  height: 600px; */
  width: 500px;
  height: 600px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(146, 221, 200, 0.5);
}

.rule-title {
  position: absolute;
  top: -4%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color: rgb(0, 98, 66);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.rule-content {
  text-align: left;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

p {
  margin: 35px 30px 30px 30px;
}

.back-to-game-button {
  display: flex;
  position: absolute;
  width: 150px;
  height: 40px;
  top: 90%;
  left: 50%;
  border: #7cc3a7 solid 2px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: white;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #7cc3a7;
  cursor: pointer;
}

.back-to-game-button:hover {
  background-color: #7cc3a7;
  border: #7cc3a7 solid 2px;
  color: white;
  width: 160px;
  height: 50px;
}

span {
  color: rgb(221, 86, 86);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.yellow {
  color: #f9b949;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.green {
  color: green;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.gray {
  color: rgb(145, 141, 141);
}

@media (max-width: 1024px) and (min-width: 1000px) {
  .outer-container {
    width: 90vw;
    height: 65vh;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(146, 221, 200, 0.5);
  }

  .rule-title {
    font-size: 25px;
  }

  .rule-content {
    font-size: 20px;
  }

  .back-to-game-button {
    width: 12vw;
    height: 40px;
    font-size: 18px;
  }
}
@media (max-width: 912px) and (min-width: 550px) {
  .outer-container {
    width: 90vw;
    height: 70vh;
    /* height: 40vw; */
    position: absolute;
    top: 60%;

    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(146, 221, 200, 0.5);
  }

  .rule-title {
    font-size: 30px;
  }

  .rule-content {
    font-size: 27px;
  }

  .back-to-game-button {
    position: absolute;
    top: 93%;
  }

  .back-to-game-button {
    width: 30vw;
    height: 45px;
    font-size: 25px;
  }
}

@media (max-width: 540px) and (min-width: 300px) {
  .outer-container {
    width: 90vw;
    height: 57vh;
    /* height: 40vw; */
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(146, 221, 200, 0.5);
  }
  .rule-title {
    font-size: 18px;
  }

  .rule-content {
    font-size: 14px;
  }

  p {
    margin: 20px 15px 15px 15px;
  }

  .back-to-game-button {
    width: 30vw;
    height: 20px;
    font-size: 13px;
  }
}

@media (max-width: 300px) {
  .outer-container {
    width: 90vw;
    height: 70vh;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(146, 221, 200, 0.5);
  }

  .rule-title {
    font-size: 20px;
  }

  .rule-content {
    font-size: 13px;
  }

  p {
    margin: 20px 15px 15px 15px;
  }

  .back-to-game-button {
    width: 35vw;
    height: 18px;
    font-size: 12px;
  }
}
