.outer-container {
  width: 500px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(146, 221, 200, 0.5);
}

.rule-title {
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: rgb(0, 98, 66);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.rule-content {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.back-to-game-button {
  display: flex;
  position: absolute;
  width: 150px;
  height: 40px;
  left: 48%;
  bottom: 10%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: rgb(101, 168, 101);
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  cursor: pointer;
}
